@model Student_Management_System.Models.FoodAds

        <!-- Pizza Card -->
        <div class="col">
            <div class="card h-100 text-center">
        <img src="@Model.Image" class="card-img-top" alt="@Model.Title" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">$@Model.Price</small>
                </div>
            </div>
        </div>


 
